*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position:relative;
    background-color: #009688;
    height: 15vh;
}

main{
    position:relative;
    background-color: #D8DBD4;
    height: 85vh;
}

div.container{
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    width: 80vw;
    height: 90vh;
    background-color: red;
    display: flex;
}

div.sidebar{
    height: 100%;
    flex-basis: 30%;
    background-color: yellow;
}

div.chat{
    height: 100%;
    flex-basis: 70%;
    background-color: violet;
}

div.profile{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7E7E7;
    padding: 0 .5rem;
}

div.img-user{
    height: 50px;
    width: 50px;
    padding: .2rem;
}

div.img-user img{
    width: 100%;
    border-radius: 50px;
}

div.icons i{
    padding:.3rem;
}

section.message-notification{
    display: flex;
    align-items: center;
    height: 7vh;
    background-color: #88D9F9;
    padding: 0 .5rem;
}

div.notify-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 0 .5rem;
    background-color: white;
    border-radius: 50%;
    margin-right: 1rem ;
}

div.notify-message i{
    font-size: 1.2rem;
    color: #88D9F9;
}

section.search-section{
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    height: 5vh;
    background-color: #f0efef;
}
section.search-section a{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    margin-right: .2rem;
}
section.search-section a i{
    color: grey;
}

section.search-section input{
    flex-basis: 80%;
    border: none;
    height: 30px;
    border-radius: 3px;
    background-color: white;
}

section.list-contact{
    height: 71vh;
    background-color: whitesmoke;
    padding-left: .9rem;
    padding-top: 1rem;
}

div.contact-img {
    height: 50px;
    width: 50px;
}

div.contact-img img{
    height: 100%;
    border-radius: 50%;
}

div.contact-last-message{
    height: 50px;
}

section.user-chat-section{
    height: 7vh;
    background-color: #E7E7E7;    
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.chat-container{
    background-image: url(../img/mine.jpg);
    height: 76vh;
}

section.text-area{
    background-color:#F1EBE8;
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

section.text-area a{
    flex-basis: 20%;
}

section.text-area input{
    flex-basis: 80%;
}

div.text-area input{
    flex-basis: 80%;
    border: none;
    height: 60%;
    background-color: green;
}
